<a href="https://colab.research.google.com/github/NguyenDa18/Police-Data-Initiative-Officer-Involved-Shootings-Analysis/blob/master/Tacoma_Police_Shootings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
police_shooting_datasets = {
    'Tacoma_WA': 'https://data.cityoftacoma.org/api/views/4zem-9yq6/rows.csv?accessType=DOWNLOAD',
}

In [0]:
df = pd.read_csv(police_shooting_datasets['Tacoma_WA'], parse_dates=['Date Occurred'])

In [14]:
df.columns

Index(['IA Num', 'Inc Num', 'Incident Address', 'District', 'Sector',
       'Date Received', 'Date Occurred', 'Day of Week', 'Time Occurred',
       'Hour Occurred', 'Inside/Outside', 'Officer Race', 'Officer Gender',
       'Officer Age', '# Years Employed ', 'Citizen Race', 'Citizen Gender',
       'Citizen Age', 'Disposition', 'Action taken'],
      dtype='object')

In [16]:
h = df[['Date Occurred', 'Officer Race', 'Officer Gender', 'Citizen Race', 'Citizen Age', 'Action taken']]
h.sort_values(by='Date Occurred')

   Date Occurred Officer Race  ... Citizen Age               Action taken
35    2012-08-31        White  ...          29                        NaN
21    2012-10-08        White  ...          30  Counseling/Range-Training
29    2012-12-22        White  ...          22                        NaN
9     2013-02-27        White  ...          35                        NaN
13    2013-06-29        White  ...          25                        NaN
15    2013-11-25        White  ...          45                        NaN
23    2014-02-26        White  ...          23                        NaN
19    2015-05-10        White  ...          48                        NaN
17    2015-05-22        White  ...          28                        NaN
22    2015-08-05        Black  ...          40                        NaN
11    2016-01-03        White  ...          26                        NaN
7     2016-01-28        White  ...          32                        NaN
12    2016-08-06        White  ...          34   Termination (16COM-0081)
24    2016-11-30        Asian  ...          38                        NaN
10    2016-12-02        White  ...          38                        NaN
28    2016-12-02        White  ...          38                        NaN
33    2016-12-02        White  ...          38                        NaN
18    2017-09-10        White  ...          58                        NaN
25    2017-09-10        White  ...          58                        NaN
20    2017-09-10        White  ...          58                        NaN
31    2017-11-05     Hispanic  ...          33                        NaN
26    2017-11-05        White  ...          33                        NaN
16    2018-01-07        Asian  ...          27                        NaN
34    2018-01-07        White  ...          27                        NaN
27    2018-01-07        Black  ...          27                        NaN
30    2018-01-07        White  ...          27                        NaN
8     2018-01-07        White  ...          27                        NaN
14    2018-01-07        White  ...          27                        NaN
32    2018-01-07        White  ...          27                        NaN
0     2019-07-02        White  ...          56                        NaN
4     2019-07-13        White  ...          69                        NaN
5     2019-07-13        Asian  ...          69                        NaN
6     2019-07-13        White  ...          69                        NaN
2     2019-07-13        White  ...          69                        NaN
1     2019-07-21        White  ...          28                        NaN
3     2019-09-08        White  ...          24                        NaN

[36 rows x 6 columns]

In [0]:
df['Citizen Race'].value_counts()

Male           17
White          10
Black           5
Asian           1
Nat Am          1
Native Amer     1
Hispanic        1
Name: Citizen Race, dtype: int64

In [0]:
df['Officer Race'].value_counts()

White       30
Asian        3
Black        2
Hispanic     1
Name: Officer Race, dtype: int64